%h1.medication-header
  #{search_results.total_results} Results found for "#{search_results.query}"

.row
  =render('shared/search_container')
.row
  - if search_results.error?
    .small-12.columns
      = link_to search_results.error_message, root_path, class:"fa fa-arrow-circle-left icon"
  - else
    %ul.search-results
      - search_results.results.each do |result|
        %li
          = link_to medication_path(result.id) do
            %strong= result.openfda.brand_name.try(:first)
            %br
            %em= result.openfda.manufacturer_name.try(:first)
            %br
            = result.openfda.generic_name.try(:first)

= paginate search_results
